<!DOCTYPE html>
{% load static %}
{% load vote_extras %}
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dashboard</title>

	<link rel="stylesheet" href="https://rawgit.com/saalmerol/django-election-site/master/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://rawgit.com/saalmerol/django-election-site/master/static/assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdn.rawgit.com/rmariuzzo/checkboxes.js/4a4b8f1d/dist/jquery.checkboxes-1.2.0.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	function printDiv(divName) {
	     var printContents = document.getElementById(divName).innerHTML;
	     var originalContents = document.body.innerHTML;

	     document.body.innerHTML = printContents;

	     window.print();

	     document.body.innerHTML = originalContents;
	}
	</script>
</head>
<body>
	<div class="container">
		 <div id="loginbox" style="margin-top:50px;" class="mainbox">
			 {% for message in messages %}
						<div class="alert alert-{{ message.tags }}">{{ message }}</div>
				{% endfor %}
				<div class="row">
					<div class="col-md-4">
					<div class="panel panel-info" >
						<div class="panel-heading">
								<div class="panel-title">Settings</div>
						</div>
						<div style="padding-top:30px" class="panel-body" >
							{% if started != "2" %}
							 <button type="button" class="btn btn-success btn-block" onclick="location.href='/admin/election/start/';" {% if started == "1" %} disabled> Election running!{% else %}>Start Elections{% endif %}</button>
							 <button type="button" class="btn btn-danger btn-block" onclick="location.href='/admin/election/stop/';" {% if started == "0" %} disabled> Election not running!{% else %}>Stop Elections{% endif %}</button>
							{% endif %}
							 {% if started == "0" %}
							 <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#finalconfirm" {% if started == "2" %} disabled> Results Tallied{% else %}>Tally Results{% endif %}</button>
							 <!-- Modal -->
							 <div id="finalconfirm" class="modal fade" role="dialog">
								 <div class="modal-dialog">

									 <!-- Modal content-->
									 <div class="modal-content">
										 <div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal">&times;</button>
											 <h4 class="modal-title">Confirmation</h4>
										 </div>
										 <div class="modal-body">
											 Are you sure you want to tally the results now? <i>This will finalize the results and will not be modified anymore.</i>
										 </div>
										 <div class="modal-footer">
											 <button type="button" class="btn btn-primary" onclick="location.href='/admin/election/finalize/';">Yes</button>
											 <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
										 </div>
									 </div>

								 </div>
							 </div>
							 {% endif %}
							 {% if started == "2" %}
							 <button type="button" class="btn btn-primary btn-block" onclick="printDiv('printableArea')">Print results</button>
							 <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#resetmodal">Reset Election</button>
							 <!-- Modal -->
							 <div id="resetmodal" class="modal fade" role="dialog">
								 <div class="modal-dialog">

									 <!-- Modal content-->
									 <div class="modal-content">
										 <div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal">&times;</button>
											 <h4 class="modal-title">Confirmation</h4>
										 </div>
										 <div class="modal-body">
											 Are you sure you want to reset the elections?
										 </div>
										 <div class="modal-footer">
											 <button type="button" class="btn btn-primary" onclick="location.href='/admin/election/reset/';">Yes</button>
											 <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
										 </div>
									 </div>

								 </div>
							 </div>
							 {% endif %}
							 <hr>
							 <button type="button" class="btn btn-info btn-block" onclick="location.href='/logout/';">Logout</button>
						</div>
					</div>
					<div class="panel panel-info" >
						<div class="panel-heading">
								<div class="panel-title">Voters</div>
						</div>
						<div style="padding-top:30px" class="panel-body" >
							<!-- Trigger the modal with a button -->
							 {% if started == "0" %}<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#addvoter">Add voter/s</button>
							 <br>
							 <!-- Modal -->
							 <div id="addvoter" class="modal fade" role="dialog">
								 <div class="modal-dialog">

									 <!-- Modal content-->
									 <div class="modal-content">
										 <div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal">&times;</button>
											 <h4 class="modal-title">Add voter/s</h4>
										 </div>
										 <form action="/admin/generate/" method="post">
											 {% csrf_token %}
										 <div class="modal-body">
											 <div class="form-group">
												 <label for="comment">Enter email/mobile number of voter/s (different line for each voter):</label>
												 <textarea class="form-control" name="emails" rows="5"></textarea>
											 </div>
										 </div>
										 <div class="modal-footer">
											 <input type="submit" class="btn btn-primary" value="Add voter/s">
											 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										 </div>
										 </form>
									 </div>

								 </div>
							 </div>
							 {% endif %}
							 <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#viewvoters">View voters</button>
							 <br>
							 <!-- Modal -->
							 <div id="viewvoters" class="modal fade" role="dialog">
								 <div class="modal-dialog">
									 <!-- Modal content-->
									 <div class="modal-content">
										 <div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal">&times;</button>
											 <h4 class="modal-title">Voters</h4>
										 </div>
										 <div class="modal-body">
											 <table class="table table-condensed table-striped">
				 								<tbody>
				 									{% for voter in voters %}
				 									<tr>
				 										<td>{% if not voter.is_active %}<i class="fa fa-check" aria-hidden="true"></i>&nbsp;{% endif %}<label>{{ voter.email }}</label></td>
				 										{% if started == "0" %}<td><button type="button" class="btn btn-danger btn-block" onclick="location.href='/admin/voter/delete/{{ voter.pk }}/';"><i class="fa fa-trash" aria-hidden="true"></i></button></td>{% endif %}
				 									</tr>
				 									{% endfor %}
				 								</tbody>
				 							</table>
										 </div>
										 <div class="modal-footer">
											 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										 </div>
									 </div>
								 </div>
							 </div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					 <div class="panel panel-info" >
						 <div class="panel-heading">
								 <div class="panel-title">Candidates</div>
						 </div>
						 <div style="padding-top:30px" class="panel-body" >
							 <!-- Trigger the modal with a button -->
								{% if started == "0" %}<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#addcandidate">Add candidate/s</button>
								<br>{% endif %}
								<!-- Modal -->
								<div id="addcandidate" class="modal fade" role="dialog">
								  <div class="modal-dialog">

								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Add candidate</h4>
								      </div>
											<form action="/admin/candidate/add/" method="post" enctype="multipart/form-data">
												{% csrf_token %}
								      <div class="modal-body">
												<div class="form-group">
												  <label>Name:</label>
												  <input type="text" class="form-control" name="name"></input>
												</div>
												<div class="form-group">
												  <label>Nickname:</label>
												  <input type="text" class="form-control" name="nickname"></input>
												</div>
												<div class="form-group">
												  <label>Description</label>
												  <textarea class="form-control" name="description" rows="5"></textarea>
												</div>
												<div class="form-group">
													<label>Candidate Photo</label>
													<input type="file" name="photo"></input>
												</div>
								      </div>
								      <div class="modal-footer">
												<input type="submit" class="btn btn-primary" value="Add candidate">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
											</form>
								    </div>

								  </div>
								</div>
								<div id="printableArea">
	             <table class="table table-condensed table-striped">
	               <tbody>
	                 {% for candidate in candidates %}
	                 <tr>
	                   <td><label>{{ candidate.name }} ({{ candidate.nickname }}) | {{ candidate.votes }} votes</label><br><i>{{ candidate.description }}</i></td>
										 {% if started == "0" %}<td><button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#editcandidate{{ candidate.pk }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>{% endif %}
										 <!-- Trigger the modal with a button -->
										 <!-- Modal -->
										 <div id="editcandidate{{ candidate.pk }}" class="modal fade" role="dialog">
											 <div class="modal-dialog">

												 <!-- Modal content-->
												 <div class="modal-content">
													 <div class="modal-header">
														 <button type="button" class="close" data-dismiss="modal">&times;</button>
														 <h4 class="modal-title">Edit candidate</h4>
													 </div>
													 <form action="/admin/candidate/edit/" method="post">
														 <input type="hidden" name="pk" value="{{ candidate.pk }}"></input>
														 {% csrf_token %}
													 <div class="modal-body">
														 <div class="form-group">
															 <label>Name:</label>
															 <input type="text" class="form-control" name="name" value="{{ candidate.name }}"></input>
														 </div>
														 <div class="form-group">
															 <label>Nickname:</label>
															 <input type="text" class="form-control" name="nickname" value="{{ candidate.nickname }}"></input>
														 </div>
														 <div class="form-group">
															 <label>Description</label>
															 <textarea class="form-control" name="description" rows="5">{{ candidate.description }}</textarea>
														 </div>
														 <div class="form-group">
			 													<label>Candidate Photo</label>
			 													<input type="file" name="photo"></input>
			 												</div>
													 </div>
													 <div class="modal-footer">
														 <input type="submit" class="btn btn-primary" value="Update candidate">
														 <button type="button" class="btn btn-danger" onclick="location.href='/admin/candidate/delete/{{ candidate.pk }}/';">Delete candidate</button>
														 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													 </div>
													 </form>
												 </div>

											 </div>
										 </div>
	                 </tr>
	                 {% endfor %}
	               </tbody>
	             </table>
						 </div>
						 </div>
			     </div>
				 </div>
			 </div>
 </div>
</body>

</html>
